@model HomeworkAssign1.Models.BirthdayCard

@{
	Layout = null;
}
<!DOCTYPE html>

<head>
	<meta name="viewport" content="width=device-width" />
	<link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
	<title>Thanks</title>
</head>


<h1>Birthday Card Sent!</h1>

        <h4>From: @Model.From</h4>
        <br/>
       <h4>To: @Model.To</h4>
        <br/>
        <h4>Message: @Model.Message</h4>




